.main-text {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.name {
  //include some animations
  background: linear-gradient(
    145deg, 
    rgba($color-secondary-1-4, .7) 0%, 
    rgba($color-secondary-1-1, .7) 20%, 
    rgba($color-secondary-1-2, .7) 40%, 
    rgba($color-secondary-1-3, .7) 60%, 
    rgba($color-secondary-1-0, .7) 80%
    );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  
  font-size: 6rem;
  color: $color-secondary-1-3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);

  -webkit-animation: slide 10s linear infinite;
  -z-animation: slide 10s linear infinite;
  -o-animation: slide 10s linear infinite;
  animation: slide 4s linear infinite;

  animation-play-state: paused;

  &:hover {
    color: transparent;
    animation-play-state: running; 
    text-shadow: none;
  }

  @media only screen and (max-width: $bp-smallest) {
    text-align: center;
    font-size: 3rem;
  }
}

.about {
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 200;
  font-family: Helvetica, sans-serif;
  text-align: center;

  width: 60%;
  @media only screen and (max-width: $bp-smallest) {
    padding: 0 1rem;
    font-weight: 300;
    width: 100%;
  }
}

.btn__main--1,
.btn__main--2,
.btn__main--3 {
  color: $color-secondary-1-3;
  text-shadow: 1px 1px 1px rgba($color-secondary-1-4, .7);

  &:hover {
    color: $color-secondary-2-2;
  }
}

.knowledge {
  & > * {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  & > * {
    -moz-animation: animateList 5s;
    -o-animation: animateList 5s;
    -webkit-animation: animateList 5s;
    animation: animateList 5s;
    animation-delay: 0s;
    animation-fill-mode: both;
  }
  @for $i from 1 through 5 {
    li:nth-child(#{$i}) {
      animation-delay: .25s * $i;
    }  
  }
}

.about__text {
  -moz-animation: fadeIn 2s linear;
  -o-animation: fadeIn 2s linear;
  -webkit-animation: fadeIn 2s linear;
  animation: fadeIn 2s linear;
}